@use '../../styles/color-variables.scss' as *;

.headerCell {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  height: 58px;
  line-height: 18px;
}

.sortable {
  cursor: pointer;
  user-select: none;

  &:hover {
    background-color: var(--hover-background-color);
  }
}

.sortIcons {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-right: 8px;
}
