@use '../../../../shared/styles/color-variables.scss' as *;
@use '../../../../shared/styles/text-variables.scss' as *;
@use '../../../../shared/styles/mixins.scss' as *;

.skeletonContainer {
  font-family: $font-table;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: start;
  justify-content: center;
  overflow: hidden;
  min-width: 1080px;

  font-style: italic;
}

.skeletonWrapper {
  height: 600px;
}

.title {
  font-size: $text-xl;
}

.skeletonHeader {
  display: flex;
  width: 100%;
}

.skeletonTh {
  height: 100px;
  padding: 12px 15px;
  @include apply-skeleton-linear-gradient;
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
  border: 1px solid $color-border-table;
}

.skeletonBody {
  display: flex;
  flex-direction: column;
}

.skeletonRow {
  display: flex;
  width: 100%;
}

.skeletonTd {
  height: 49px;
  padding: 12px 15px;
  @include apply-skeleton-linear-gradient;
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
  border: 1px solid $color-border-table;
}

.pagination {
  min-height: 50px;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
