@use 'sass:color';

.header {
  background-color: $color-layout;
}

.logo {
  text-decoration: none;
  color: $color-background;
  display: flex;
  align-items: center;
  column-gap: 12px;
  font-size: 24px;
  font-weight: 500;
  font-style: Medium;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 25px;
  height: 80px;
  margin: 0 auto;
}

.authButtons {
  display: flex;
  gap: 26px;
  align-items: center;

  :global(.ant-btn) {
    font-family: $font-primary;
    font-weight: 600;
    color: $color-primary;

    &:hover {
      color: color.adjust($color-primary, $lightness: -10%);
    }
  }
}

.nav {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 0 40px;
}
.nav :global(a) {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.2s;
  padding: 0 8px;
}

.nav :global(a):hover {
  color: $color-border-search-ticket;
}

.nav :global(.active),
.nav :global(a[aria-current='page']) {
  color: $color-border-search-ticket;
}
