$color-primary: #006fff;
$color-layout: #445ebd;
$color-background: #f5f5f5;
$color-border: #d3efff;
$color-text-primary: #141414;
$color-text-secondary: #808080;
$color-error: #f11c0e;
$color-logo-s7: #bed603;
$text-link: #ffffff;
$color-border-table: #dedede;
$th-color: #f8f9fa;
$linear-gradient-light: #f0f0f0;
$linear-gradient-dark: #e0e0e0;
$color-inactive: #ccc;
$color-active: #333;
$color-auth-note: #4a4a4a;

$color-bg: #fff;
$color-border: #e0e0e0;
$color-text-default: #4a5364;
$color-text-muted: #8a95a6;
$color-text-dark: #222;
$color-border-hover: #c1c7d0;
$color-selected-border: #8dc63f;
$color-selected-bg: #f9fff1;
$color-class-active-bg: #eaeaec;
$color-class-btn-bg: #fff;
$color-class-btn-hover: #f5f5f5;
$color-subsidy: #4a90e2;
$shadow-button: rgba(0, 0, 0, 0.1);

// Тени
$color-shadow: rgba(0, 0, 0, 0.25);
$shadows: (
  'sm': 0 2px 2px rgba(0, 0, 0, 0.25),
  'md': 0 4px 4px rgba(0, 0, 0, 0.25),
);
