.formWrapper {
  font-family: $font-primary;
  min-width: 600px;
  max-width: 600px;
  padding: 44px 50px 16px 50px;
  background-color: $text-link;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
}

.title {
  text-align: start;
  font-size: 36px;
  margin-bottom: 24px;
  font-weight: bold;
}

.registerLink {
  text-align: center;
  a {
    color: $color-auth-note;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.centeredButton {
  display: flex;
  justify-content: center;
  margin: 0;
}