@import '../../shared/styles/color-variables.scss';

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.pagination-button {
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 4px;
  min-width: 36px;
  background-color: transparent;
  border: 1px solid $color-border-table;
  color: rgba(0, 0, 0, 0.75);
  
  font-style: italic;
}

.pagination-button:hover:not(:disabled) {
  background-color: #f0f0f0;
}

.pagination-button.active {
  background-color: $color-primary;
  color: white;
}

.pagination-button:disabled {
  opacity: 0.35;
  cursor: not-allowed;
}

.pagination-ellipsis {
  padding: 6px 12px;
}
