@use '../../../../shared/styles/text-variables.scss' as *;
@use '../../../../shared/styles/color-variables.scss' as *;

* {
  box-sizing: border-box;
}

.adminTable {
  font-family: $font-table;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: start;
  justify-content: center;
  overflow: hidden;
  width: 100vw;

  font-style: italic;

  .tableContainer {
    td,
    th {
      width: auto;
    }
  }
}

.title {
  font-size: $text-xl;
  color: var(--title-color);
}

.tableContainer {
  contain: strict;
  overflow-x: auto;
  overflow-y: auto;
  border-radius: 2px;
  height: 565px;
  width: 100%;
  table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: none;
    border-bottom: 1px solid var(--table-border);

    colgroup {
      display: table-column-group;
    }

    col {
      display: table-column;
    }
  }
}

th,
td {
  text-align: center;
  overflow: hidden;
  border-left: 1px solid var(--table-border);
  border-right: 1px solid var(--table-border);
}

th {
  border: 1px solid var(--table-border);
  background-color: $th-color;
  font-weight: 600;
  position: sticky;
  top: 0;
}

tr:nth-child(2n) {
  background-color: var(--table-even-cell-color);
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  background-color: var(--hover-background-color);
}

.tableHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
